* {
  box-sizing: border-box;
  margin: 20px;
  font-family: Helvetica;
  margin-left: 2%;
  background-color: #efeff5;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: #44446f;
  width: 91%;
}
.main {
border: 4px solid #44446f;
border-radius: 5%;
padding: 30px;
margin: 1%;
margin-top: 10%;
width: 22%;
float: left;
text-decoration: none;
font-size: 20px;
text-align: center;
color: #44446f;
}
