* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.landing-page {
  background-image: url("https://unsplash.com/search/pineapples?photo=kjTQwE-Q50M");
  background-repeat: no-repeat;
  background-size: cover;
}

.left-block {
  float: left;
}

.name {
  font-size: 30px;
  font-weight: bold;
}
